.bg {
height:100vh;
width:101%;
background-image: url("C:\Users\91822\Desktop\restaurant billing\app\src\images\intro-image.webp");
background-size: cover;
}
.logo{
  width:20%;
  height:18vh;
}
#start_btn{
  background-color: yellow;
  height: 6vh;
  width:150px;
  color:black;
  font-weight: bold;
  font-size :20px;;
  border-radius: 5px;
  position: relative;
  left:35%;
  border: black ;
}
.start_btn_container{
  background-color: rgba(55, 54, 54, 0.597);
  width:550px;
  height: 400px;
  border-radius: 18px;
  position:relative;
  top:35px;
  left:480px;
  padding-left: 18px;
  padding-right: 30px;
  padding-top: 5px;
  color:rgb(251, 251, 251);
}
#heading{
  font-size: 40px;
  text-align: center;
  font-weight: bolder;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#content{
  font-size: 20px;
  font-weight:normal;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}